<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<p>Pokemon Captured: </p>
<table>
	<tbody>
		<%= @trainer.pokemons.each do |pokemon| %>
        <tr>
            <td><%= image_tag("pokemon/#{pokemon.ndex}.png", alt: "pokemon") %></td>
			<td><%= pokemon.name %></td>
            <td>Level: <%= pokemon.level %></td>
            <td>Health: <%= pokemon.health %></td>
            <td><%= button_to "Damage", damage_path(id: pokemon.id), :class => "button small", :method => :patch %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<% if @trainer = current_trainer %>
    <p><%= button_to "Create Pokemon", new_path(id: @trainer.id), :class => "button medium", :method => :get %></p>
<% end %>